{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row py-5">
      <div class="col-12 p-4 bg-white shadow-sm text-center">
        <h1>¡Gracias por contactarnos!</h1>
        <h2>Tu mensaje ha sido enviado exitosamente</h2>
        <a href="/">Regresar a inicio</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_javascripts %}
{% endblock %}