{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
{% endblock %}

{% block content %}
  {# main #}
  <div class="w-100">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 mb-2 col-md-12 text-center">
          <h2 class="mb-2">
            Nuestra historia
          </h2>
          <p class="h5 font-weight-normal">
            Generamos una red colaborativa y co- creamos herramientas que se adecuan a los recursos, necesidades y contexto de este
            tipo de organizaciones en la región.
          </p>
          <p class="h5 font-weight-normal text-left">
            <strong>Diagnóstico sobre las prácticas</strong>
            Capacidades actuales, incentivos y desafíos de medición de impacto de los aliados.
          </p>
          <p class="h5 font-weight-normal text-left">
            <strong>Co-creación</strong>
            Del toolkit.
          </p>
          <p class="h5 font-weight-normal text-left">
            <strong>Piloteo</strong>
            Del toolkit por cada una de las 15 org. aliadas locales para la medición del impacto de uno de sus proyectos.
          </p>
          <p class="h5 font-weight-normal text-left">
            <strong>Retroalimentación</strong>
            Para hacer adaptaciones y lograr una versión final mejorada.
          </p>
          <p class="h5 font-weight-normal text-left">
            <strong>Lanzamiento</strong>
            Esta herramienta ahora está disponible para que todxs lxs actorxs de la región que buscan fortalecer la democracia,
            los derechos humanos y la gobernanza logren. incrementar su impacto.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 mb-2 col-md-12 text-center">
          <h2 class="mb-2">
            Nuestros Objetivos
          </h2>
          <ul class="text-left">
            <li class="h5 font-weight-normal">
              Fortalecer las capacidades de las organizaciones de la sociedad civil latinoamericana para evaluar el impacto de
              proyectos relacionados a democracia, derechos humanos y gobernanza
            </li>
            <li class="h5 font-weight-normal">
              Concientizar sobre buenas prácticas y fomentar una cultura de monitoreo y evaluación de impacto en la región.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <style>
    #rss-container h2 {
      font-size: 1rem;
    }

    #rss-container .excerpt {
      display: none;
    }

    #rss-container .excerpt h3 {
      font-size: 1rem !important;
      font-weight: normal !important;
    }

    #rss-container .col-sm-3 {
      margin-bottom: 1rem;
      /* border: 1px solid #dee2e6 !important; */
      /* padding: 0; */
    }

    #rss-container .post-date {
      display: none;
    }

    #rss-container .read-more {
      text-align: left;
      padding: 0.5rem 0 0.5rem 0;
    }

    .rtb-close {
      z-index: 1000;
    }
  </style>
{% endblock %}

{% block body_javascripts %}
{% endblock %}