{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
{% endblock %}

{% block content %}
  {# carousel #}
  <div id="carouselHome" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" style="overflow: visible;">
      <div class="carousel-item active">
        <div class="d-block w-100" style="max-height: 600px; height: 80vw; overflow: hidden; background-image: url('/assets/img/slide-1.png');background-repeat: no-repeat;background-position: bottom right; background-size: cover;">
        </div>
        <div class="carousel-caption container d-flex h-100 w-100" style="right: 0;bottom: 0; left: 0;">
          <div class="col-12 col-md-6 my-auto text-left d-none d-md-block">
            <p class="h5 font-weight-normal text-white">
              ¿Estás trabajando en una Organización No Gubernamental (ONG) y no sabes si has logrado los objetivos que te planteaste?
              Te presentamos 6 simples pasos para que puedas evaluar el impacto y entender cómo aumentar el cambio social que buscas.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-100"
          style="max-height: 600px; height: 80vw; overflow: hidden; background-image: url('/assets/img/slider_map.png');background-repeat: no-repeat;background-position: bottom center; background-size: contain; background-color: #3aa7de;">
        </div>
        <div class="carousel-caption container d-flex h-100 w-100" style="right: 0;bottom: 0; left: 0;">
          <div class="col-12 col-md-7 my-auto ml-md-auto text-left d-none d-md-block">
            <h1 class="text-white display-1 mb-0">
              Nuestra Red
            </h1>
            <h1 class="textwhite">
              15 organizaciones de 10 países
            </h1>
            <p class="h4 font-weight-bold">
              Con un objetivo en común: Instalar la cultura de impacto en la región
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {# main #}
  <div class="w-100 bg-white d-md-none">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h1 class="d-md-none">Lo que no se mide no existe</h1>
          <p class="h5 font-weight-normal d-md-none">
            ¿Estás trabajando en una Organización No Gubernamental (ONG) y no sabes si has logrado los objetivos que te planteaste?
            Te presentamos 6 simples pasos para que puedas evaluar el impacto y entender cómo aumentar el cambio social que buscas.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 mb-2 col-md-12 text-center">
          <h2 class="mb-2">
            ¿Qué es ImpactaLatam?
          </h2>
          <p class="h5 font-weight-normal">
            Somos un proyecto de 15 ONG latinoamericanas que trabajamos en democracia, gobernanza y derechos humanos, que nos unimos
            para construir herramientas que simplifiquen el proceso de evaluación y monitoreo del impacto.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="mb-2">
            Nuestros Objetivos
          </h2>
        </div>
        <div class="col-12 col-md-4 text-md-right pr-md-5 py-2">
          <img src="/assets/img/ICONO_01.png" alt="Bombilla" class="img-fluid w-75">
        </div>
        <div class="col-12 col-md-8 mb-2 text-left align-self-center py-2">
          <p class="h5 font-weight-normal">
            Fortalecer las capacidades de las organizaciones de la sociedad civil latinoamericana para evaluar el impacto de
            proyectos relacionados a democracia, derechos humanos y gobernanza
          </p>
        </div>
        <div class="col-12 col-md-4 text-md-right pr-md-5 py-2">
          <img src="/assets/img/ICONO_02.png" alt="Lupa y mapa" class="img-fluid w-75">
        </div>
        <div class="col-12 col-md-8 mb-2 text-left align-self-center py-2">
          <p class="h5 font-weight-normal">
            Concientizar sobre buenas prácticas y fomentar una cultura de monitoreo y evaluación de impacto en la región.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 bg-secondary">
    <div class="container py-5">
      <div class="row text-center">
        <div class="col-12 mb-4">
          <h2 class="text-primary">Co-creación</h2>
          <h1 class="text-white"> Nuestro proceso <br> de co-creación</h1>
          <p class="text-white">
            Generamos una red colaborativa y co-creamos herramientas que se adecuan a los recursos, <br>
            necesidades y contexto de este tipo de organizaciones en la región.
          </p>
        </div>
        <div class="col-12 timeline d-block position-relative">
          <div class="position-relative container-circle w-50 pr-4 left">
            <div class="bg-primary px-4 py-2 rounded content">
              <img src="/assets/img/ICONO_03.png" class="mb-1" alt="Carpetas" width="100px">
              <h4>Diagnóstico</h4>
              <p class="mb-0">
                Sobre las prácticas, capacidades actuales, incentivos y desafíos de medición de impacto de los aliados.
              </p>
            </div>
          </div>
          <div class="position-relative container-circle w-50 ml-auto pl-4 right">
            <div class="bg-white px-4 py-2 rounded content" style="margin-top: -30px;">
              <img src="/assets/img/ICONO_04.png" class="mb-1" alt="Carpetas" width="100px">
              <h4>Co-creación</h4>
              <p class="mb-0">
                Del toolkit.
              </p>
            </div>
          </div>
          <div class="position-relative container-circle w-50 pr-4 left_white">
            <div class="bg-white px-4 py-2 rounded content" style="margin-top: -30px;">
              <img src="/assets/img/ICONO_05.png" class="mb-1" alt="Carpetas" width="100px">
              <h4>Retroalimentación</h4>
              <p class="mb-0">
                Para hacer adaptaciones y lograr una versión final mejorada.
              </p>
            </div>
          </div>
          <div class="position-relative container-circle w-50 ml-auto pl-4 right">
            <div class="bg-white px-4 py-2 rounded content" style="margin-top: -30px;">
              <img src="/assets/img/ICONO_06.png" class="mb-1" alt="Carpetas" width="100px">
              <h4>Lanzamiento</h4>
              <p class="mb-0">
                Esta herramienta ahora está disponible para que todxs lxs actorxs de la región que buscan fortalecer
                la democracia, los derechos humanos y la gobernanza logren. incrementar su impacto.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 bg-white">
    <div class="container py-5">
      <div class="row text-center">
        <div class="col-12 mb-3">
          <h1>6 pasos para evaluar el impacto de tu proyecto</h1>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/img/ICONO_08.png" alt="Flechas" class="img-fluid mb-2" style="max-width: 180px;">
          <h5>Crear la teoría de cambio</h5>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/img/ICONO_09.png" alt="Flechas" class="img-fluid mb-2" style="max-width: 180px;">
          <h5>Identificar e involucrar a los destinatarixs</h5>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/img/ICONO_10.png" alt="Flechas" class="img-fluid mb-2" style="max-width: 180px;">
          <h5>Conectar la evidencia</h5>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/img/ICONO_11.png" alt="Flechas" class="img-fluid mb-2" style="max-width: 180px;">
          <h5>Planificar un cronograma de evaluación</h5>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/img/ICONO_12.png" alt="Flechas" class="img-fluid mb-2" style="max-width: 180px;">
          <h5>Recolectar y almacenar la evidencia</h5>
        </div>
        <div class="col-12 col-md-4">
          <img src="/assets/img/ICONO_13.png" alt="Flechas" class="img-fluid mb-2" style="max-width: 180px;">
          <h5>Analizar y adaptar el proyecto</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 bg-primary">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 mb-2 col-md-12 text-center">
          <img src="/assets/img/ICONO-CALL-TO-ACTION.png" alt="Speaker" style="height: 10rem;" class="mb-1">
          <h1 class="mb-2 text-white">
            ¡Es lo que necesito!<br>
            Mi organización está lista para aumentar su impacto.
          </h1>
          <p class="h3">
            Contáctanos para aprender a implementar estas herramientas y conocer la red.
          </p>
          <a href="/contacto" class="btn btn-secondary p-2 rounded-pill px-3 h4 text-white font-weight-medium">
            Contáctanos
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-white">
    <div class="container py-5 logos-bar">
      <div class="row">
        <div class="col-12 mb-2 text-center">
          <h2>Organizaciones de la alianza</h2>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://redciudadana.org/" target="_blank">
            <img src="/assets/img/logos/07_RED.png" alt="Red Ciudadana" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://asuntosdelsur.org/" target="_blank">
            <img src="/assets/img/logos/01_AS.png" alt="Asuntos del Sur" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://ciudadaniai.org/" target="_blank">
            <img src="/assets/img/logos/06_CI.png" alt="Ciudadanía Inteligente" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://www.1001ideas.org/" target="_blank">
            <img src="/assets/img/logos/03_1001-IDEAS.png" alt="1001 Ideas" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://data.org.uy/" target="_blank">
            <img src="/assets/img/logos/Logo-DATA-Uruguay-fondo-claro.png" alt="Data Uruguay" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://www.ciudadaniaydesarrollo.org/" target="_blank">
            <img src="/assets/img/logos/04_CD.png" alt="Ciudadanía y Desarrollo" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://www.region.org.co/" target="_blank">
            <img src="/assets/img/logos/02_REGION.png" alt="Región" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://www.chiletransparente.cl/" target="_blank">
            <img src="/assets/img/logos/ChT.png" alt="Chile Transparente" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://poderlatam.org/en/" target="_blank">
            <img src="/assets/img/logos/08_PODER.png" alt="Poder" class="img-fluid w-75 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://www.dialogos.org.gt/" target="_blank">
            <img src="/assets/img/logos/05_DIALOGOS.png" alt="DIALOGOS" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="http://www.accioncolectiva.net/" target="_blank">
            <img src="/assets/img/logos/099_AC.png" alt="Acción Colectiva" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="http://www.japiqay.org/" target="_blank">
            <img src="/assets/img/logos/japiqay.png" alt="JAPIQAY" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://ahoranostoca.mx/participa/" target="_blank">
            <img src="/assets/img/logos/ahora nos toca participar.png" alt="Ahora nos toca participar" class="img-fluid w-75 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://iccpg.org.gt/" target="_blank">
            <img src="/assets/img/logos/ICCPG.png" alt="ICCPG" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-6 col-1/5 mb-2 d-flex text-center">
          <a href="https://www.fundacionconstruir.org/" target="_blank">
            <img src="/assets/img/logos/CONSTRUIR.jpg" alt="Construir" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
        <div class="col-12 my-2 text-center">
          <h2>Con el apoyo de</h2>
        </div>
        <div class="col-8 col-md-4 mb-2 d-flex mx-auto">
          <a href="https://www.ned.org/" target="_blank">
            <img src="/assets/img/logos/NED.png" alt="NED" class="img-fluid w-100 px-2 my-auto">
          </a>
        </div>
      </div>
    </div>
  </div>

  <style>
    #rss-container h2 {
      font-size: 1rem;
    }

    #rss-container .excerpt {
      display: none;
    }

    #rss-container .excerpt h3 {
      font-size: 1rem !important;
      font-weight: normal !important;
    }

    #rss-container .col-sm-3 {
      margin-bottom: 1rem;
      /* border: 1px solid #dee2e6 !important; */
      /* padding: 0; */
    }

    #rss-container .post-date {
      display: none;
    }

    #rss-container .read-more {
      text-align: left;
      padding: 0.5rem 0 0.5rem 0;
    }

    .rtb-close {
      z-index: 1000;
    }
  </style>
{% endblock %}

{% block body_javascripts %}
{% endblock %}