{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
{% endblock %}

{% block content %}
{# main #}
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME1/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img src="/assets/metodologia/FRAME1/03.png" style="position: absolute;bottom: 0;left: 0;max-height: 80vh;max-width: 100vw;">
    <img src="/assets/metodologia/FRAME1/04.png" class="d-none d-md-block cloud" style="position: absolute;top: 4vh;left: 6vw;height: 60px;">
    <img src="/assets/metodologia/FRAME1/04.png" class="d-none d-md-block cloud" style="position: absolute;top: 12vh;right: 10vw;height: 80px;">
    <img src="/assets/metodologia/FRAME1/04.png" class="d-none d-md-block cloud" style="position: absolute;bottom: 12vh;right: 36vw;height: 120px;">
    <script>
      anime.timeline({
        targets: '.cloud',
        // left: '240px',
        // backgroundColor: '#FFF',
        // borderRadius: ['0%', '50%'],
        delay: 400,
        duration: 5000,
        endDelay: 600,
        loop: false,
        easing: 'easeInOutSine',
        opacity: ['0%', '100%'],
        easing: 'easeInOutSine'
      })
      .add({
        translateX: 150,
      })
      .add({
        translateX: 0,
      });
    </script>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 d-md-none text-center py-5">
          <img src="/assets/metodologia/FRAME1/05.png" class="img-fluid">
          <button type="button" class="mt-1 mb-1 btn btn-warning text-white font-weight-bold btn-lg" data-toggle="modal" data-target="#intro">
            Introducción
          </button>
          <br>
          <a href="https://issuu.com/redciudadana/docs/toolkit_impactalatam_1_.docx" target="_blank" class="mt-1 btn btn-warning text-white font-weight-bold btn-lg"> <!-- d-inline -->
            Descargar toolkit
          </a>
        </div>
        <div class="col-6 d-none d-md-block text-center align-self-center ml-auto">
          <img src="/assets/metodologia/FRAME1/05.png" class="img-fluid">
          <button type="button" class="mt-1 mb-1 btn btn-warning text-white font-weight-bold btn-lg" data-toggle="modal" data-target="#intro">
            Introducción
          </button>
          <br>
          <a href="https://issuu.com/redciudadana/docs/toolkit_impactalatam_1_.docx" target="_blank" class="mt-1 btn btn-warning text-white font-weight-bold btn-lg"> <!-- d-inline -->
            Descargar toolkit
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME2/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img id="section-frame-2" src="/assets/metodologia/FRAME2/02.png" style="position: absolute;width: 100%;bottom: 0;">
    <div class="container h-100" style="position: relative;overflow: hidden;">
      <img src="/assets/metodologia/FRAME2/03.png" style="position: absolute;bottom: 80px;width: 25vw;max-width: 200px;">
      <div class="row h-100">
        <div class="col-12 col-lg-10 text-center align-self-center mx-auto">
          <img src="/assets/metodologia/FRAME2/04.png" alt="Icono" class="mb-3 img-icon-frame" width="80px" id="img-frame-2">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Crear la teoría de cambio</h1>
          <h3 class="text-white">¿Qué es una teoría de cambio? </h3>
          <p class="text-white text-justify text-last-center">La Teoría de Cambio será la brújula que te ayudará a llegar a buen puerto. Es la descripción de cómo irán sucediendo las cosas, sus causas y efectos, para lograr el objetivo definido.</p>
          <button type="button" class="btn btn-warning rounded-pill px-3 d-none" data-toggle="modal" data-target="#frame-1">
            Ver video
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="section-frame-3" class="w-100" style="background-image: url(/assets/metodologia/FRAME3/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img src="/assets/metodologia/FRAME3/02.png" style="position: absolute;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-10 text-center align-self-center mx-auto">
          <img src="/assets/metodologia/FRAME3/03.png" alt="Icono" class="mb-3 img-icon-frame" width="80px" id="img-frame-3">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Identificar e involucrar a los destinatarixs</h1>
          <h3 class="text-white">¿Qué tener en cuenta?</h3>
          <p class="text-white text-justify text-last-center">Inicia un mapeo y caracterización de actores para identificar a quiénes involucrar o neutralizar y en qué etapa del
          proyecto. La definición de destinatarixs finales, participantes y co-diseñantes es clave para un buen desarrollo. Esto
          permitirá contribuir a la validación del proyecto así como a una mejor categorización del problema, lo que redundará en
          mayor probabilidad de alcanzar el impacto deseado.</p>
          <button type="button" class="btn btn-warning rounded-pill px-3 d-none" data-toggle="modal" data-target="#frame-2">
            Ver video
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="section-frame-4" class="w-100" style="background-image: url(/assets/metodologia/FRAME4/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img src="/assets/metodologia/FRAME4/02.png" style="position: absolute;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-10 text-center align-self-center mx-auto">
          <img src="/assets/metodologia/FRAME4/03.png" alt="Icono" class="mb-3 img-icon-frame" width="80px" id="img-frame-4">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Conectar la evidencia con la teoría de cambio</h1>
          <h3 class="text-white">¿Cómo vincular la teoría a la práctica? </h3>
          <p class="text-white text-justify text-last-center">La teoría de cambio no puede ser observada directamente.
          Los indicadores serán la evidencia para comprobar si se está cumpliendo. Por tanto, definir qué medir será nuestra clave.
          Construye indicadores para cada uno de los resultados, actividades y diferentes tipos de impacto.</p>
          <button type="button" class="btn btn-warning rounded-pill px-3 d-none" data-toggle="modal" data-target="#frame-3">
            Ver video
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="section-frame-5" class="w-100" style="background-image: url(/assets/metodologia/FRAME5/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img src="/assets/metodologia/FRAME5/02.png" style="position: absolute;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-10 text-center align-self-center mx-auto">
          <img src="/assets/metodologia/FRAME5/03.png" alt="Icono" class="mb-3 img-icon-frame" width="80px" id="img-frame-5">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Planificar un cronograma de evaluación</h1>
          <h3 class="text-white">¿Qué tener en cuenta?</h3>
          <p>
            <ul class="text-white col-12  col-sm-8 col-md-6 mx-auto text-left">
              <li>Diseño de cronograma en un formato que resulte ágil</li>
              <li>Frecuencia de medición de la evidencia</li>
              <li>Momentos para iterar</li>
              <li>Designación de responsables</li>
              <li>Plazos (¿cuándo se requieren los resultados?)</li>
            </ul>
          </p>
          <button type="button" class="btn btn-warning rounded-pill px-3 d-none" data-toggle="modal" data-target="#frame-4">
            Ver video
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="section-frame-6" class="w-100" style="background-image: url(/assets/metodologia/FRAME6/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img src="/assets/metodologia/FRAME6/02.png" style="position: absolute;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-10 text-center align-self-center mx-auto">
          <img src="/assets/metodologia/FRAME6/04.png" alt="Icono" class="mb-3 img-icon-frame" width="80px" id="img-frame-6">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Recolectar y almacenar la evidencia</h1>
          <p class="text-white text-justify text-last-center">
            Para ello se pueden generar datos propios o bien utilizar datos secundarios. La clave está en identificar y catalogar la
            información en función del valor o sensibilidad que implican.
          </p>
          <button type="button" class="btn btn-warning rounded-pill px-3 d-none" data-toggle="modal" data-target="#frame-5">
            Ver video
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="section-frame-7" class="w-100" style="background-image: url(/assets/metodologia/FRAME7/01.png);min-height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;overflow: hidden;">
    <img src="/assets/metodologia/FRAME7/02.png" style="position: absolute;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-10 text-center align-self-center mx-auto" style="margin-bottom: 20vw;">
          <img src="/assets/metodologia/FRAME7/04.png" alt="Icono" class="mb-3 img-icon-frame" width="80px" id="img-frame-7">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Analizar y adaptar el proyecto</h1>
          <h3 class="text-white">¿Cómo lograr impacto?</h3>
          <p class="text-white text-justify text-last-center">
            El objetivo del M&E de impacto no es solo rendir cuentas. Una revisión periódica en equipo y hablar con lxs
            destinatarixs y otras partes interesadas para analizar el proyecto ayudará a: <br>
            <ul class="text-white col-12  col-sm-8 col-md-6 mx-auto text-left">
              <li>Saber si estamos alcanzando los resultados y efectos esperados</li>
              <li>Hacer los ajustes necesarios para lograr alcanzar el impacto deseado.</li>
              <li>Identificar si todos los componentes del programa son necesarios para lograr impacto</li>
              <li>Verificar si algunos grupos de destinatarixs están más afectados por la intervención que otros</li>
              <li>Revisar si existen efectos adversos no planificados</li>
              <li>Una vez que el proyecto finaliza ¿Se mantienen estos efectos en el tiempo?</li>
              <li>Acordar qué aprendizajes obtenemos para otros proyectos, programas</li>
              <li>Decidir si escalar un proyecto piloto, rediseñarlo y/o incluir innovaciones y nuevos enfoques</li>
            </ul>
          </p>
          <button type="button" class="btn btn-warning rounded-pill px-3 mb-5 d-none" data-toggle="modal" data-target="#frame-6">
            Ver video
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-color: #2b6d9c;">
    <div class="row">
      <div class="col-12 text-center py-5 d-flex justify-content-center">
        <a href="https://issuu.com/redciudadana/docs/toolkit_impactalatam_1_.docx" target="_blank" class="btn btn-warning font-weight-bold btn-lg d-inline text-white">
          Descargar Toolkit
        </a>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- FRAME 1 -->
  <div class="modal fade" id="frame-1" tabindex="-1" aria-labelledby="frame-1-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frame-1-label">Crear la teoría de cambio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wzjQsZ_Wr50?controls=0" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <small><strong>Tip.</strong> Desafía tu intuición y anímate a desarrollar tu TDC, verás que tu trabajo se vuelve más
            efectivo y todo cobra
            sentido.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FRAME 2 -->
  <div class="modal fade" id="frame-2" tabindex="-1" aria-labelledby="frame-2-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frame-2-label">Identificar e involucrar a lxs destinatarixs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wzjQsZ_Wr50?controls=0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <small><strong>Tip.</strong> Sumar voces en la etapa correcta potencia el proceso.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FRAME 3 -->
  <div class="modal fade" id="frame-3" tabindex="-1" aria-labelledby="frame-3-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frame-3-label">Conectar la evidencia con la teoría de cambio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wzjQsZ_Wr50?controls=0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <small><strong>Tip.</strong> Un buen indicador debe ser: Directo, Relevante, Claro, Definitivo: Medible: Factible</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FRAME 4 -->
  <div class="modal fade" id="frame-4" tabindex="-1" aria-labelledby="frame-4-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frame-4-label">Planificar un cronograma de evaluación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wzjQsZ_Wr50?controls=0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <small><strong>Tip.</strong> Planificar la evaluación permite aumentar el éxito de nuestro proyecto. Mantenlo simple, pero hazlo.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FRAME 5 -->
  <div class="modal fade" id="frame-5" tabindex="-1" aria-labelledby="frame-5-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frame-5-label">Recolectar y almacenar la evidencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wzjQsZ_Wr50?controls=0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <ul class="list-unstyled mt-2">
            <li><strong>A. Recolectar evidencia:</strong> <br>
              Para ello se pueden generar datos propios o bien utilizar datos secundarios. Estas son algunos de los tipos de
              herramientas más usadas:
              <ul>
                <li>Encuestas autoadministradas (cuestionarios previos y posteriores a una capacitación por ejemplo)</li>
                <li>Entrevistas detalladas (individuales o grupales)</li>
                <li>Discusiones de grupos focales (Focus groups)</li>
                <li>Observación de participantes y evidencia visual</li>
                <li>Revisión de documentos (análisis de contenido)</li>
                <li>Tarjetas de puntuación y listas de verificación</li>
                <li>Encuesta de opinión pública</li>
              </ul>
            </li>
            <li><strong>B. Almacenar la información</strong> <br>
              La clave está en identificar y catalogar la información en función del valor o sensibilidad que implican.
              <ul>
                <li>Ultra sensible</li>
                <li>Sensible</li>
                <li>No sensible</li>
              </ul>
            </li>
          </ul>
          <small><strong>Tip.</strong> No subestimes el valor ni la sensibilidad de tus datos.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FRAME 6 -->
  <div class="modal fade" id="frame-6" tabindex="-1" aria-labelledby="frame-6-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frame-6-label">Analizar y adaptar el proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wzjQsZ_Wr50?controls=0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <small><strong>Tip.</strong> Recalcular es una fortaleza y no una debilidad. Asegúrate de contemplar en la planificación esta etapa de análisis.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- intro -->
  <div class="modal fade" id="intro" tabindex="-1" aria-labelledby="intro-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="intro-label">6 Pasos para evaluar el impacto de tu proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I3ryyXjhSek?controls=0" title="YouTube video player"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Lateral menu -->
  <nav class="position-fixed" style="width: 3.5rem;right: 0;top: 20%;display: none;" id="fixed-menu">
    <div style="height: 3.5rem;" id="menu-frame-2">
      <a href="#section-frame-2" class="btn btn-light w-100 h-100 rounded-0">
        <img src="/assets/metodologia/FRAME2/04.png" alt="Paso" class="img-fluid">
        <img src="/assets/metodologia/FRAME7/05.png" alt="Globo aerostatico" class="img-fluid d-none" style="padding: 5px;">
      </a>
    </div>
    <div style="height: 3.5rem;" id="menu-frame-3">
      <a href="#section-frame-3" class="btn btn-light w-100 h-100 rounded-0">
        <img src="/assets/metodologia/FRAME3/03.png" alt="Paso" class="img-fluid">
        <img src="/assets/metodologia/FRAME7/05.png" alt="Globo aerostatico" class="img-fluid d-none" style="padding: 5px;">
      </a>
    </div>
    <div style="height: 3.5rem;" id="menu-frame-4">
      <a href="#section-frame-4" class="btn btn-light w-100 h-100 rounded-0">
        <img src="/assets/metodologia/FRAME4/03.png" alt="Paso" class="img-fluid">
        <img src="/assets/metodologia/FRAME7/05.png" alt="Globo aerostatico" class="img-fluid d-none" style="padding: 5px;">
      </a>
    </div>
    <div style="height: 3.5rem;" id="menu-frame-5">
      <a href="#section-frame-5" class="btn btn-light w-100 h-100 rounded-0">
        <img src="/assets/metodologia/FRAME5/03.png" alt="Paso" class="img-fluid">
        <img src="/assets/metodologia/FRAME7/05.png" alt="Globo aerostatico" class="img-fluid d-none" style="padding: 5px;">
      </a>
    </div>
    <div style="height: 3.5rem;" id="menu-frame-6">
      <a href="#section-frame-6" class="btn btn-light w-100 h-100 rounded-0">
        <img src="/assets/metodologia/FRAME6/04.png" alt="Paso" class="img-fluid">
        <img src="/assets/metodologia/FRAME7/05.png" alt="Globo aerostatico" class="img-fluid d-none" style="padding: 5px;">
      </a>
    </div>
    <div style="height: 3.5rem;" id="menu-frame-7">
      <a href="#section-frame-7" class="btn btn-light w-100 h-100 rounded-0">
        <img src="/assets/metodologia/FRAME7/04.png" alt="Paso" class="img-fluid">
        <img src="/assets/metodologia/FRAME7/05.png" alt="Globo aerostatico" class="img-fluid d-none" style="padding: 5px;">
      </a>
    </div>
  </nav>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
{% endblock %}

{% block body_javascripts %}
  <script>
    var observer = new IntersectionObserver(function (entries) {
        entries.forEach((entry) => {
          let id = entry.target.id;
          let buttonId = id.replace('img', 'menu');
          let menu = document.getElementById(buttonId);

          if (entry.isIntersecting === true) {
            menu.firstElementChild.children[0].classList.add('d-none');
            menu.firstElementChild.children[1].classList.remove('d-none');
          } else {
            menu.firstElementChild.children[0].classList.remove('d-none');
            menu.firstElementChild.children[1].classList.add('d-none');
          }
        });
      },
      // full visible
      { threshold: [1] }
    );

    Array.from(document.querySelectorAll(".img-icon-frame")).forEach((item) => {
      observer.observe(item);
    });

    document.onscroll = function(event) {
      if (!window.scrollTimeout) {
        document.getElementById('fixed-menu').style.display = 'block';
      }

      clearTimeout(window.scrollTimeout);
      window.scrollTimeout = setTimeout(function() {
        document.getElementById('fixed-menu').style.display = 'none';
        window.scrollTimeout = null;
      }, 3000);
    }
  </script>
  <script>
    $('#intro').on('hidden.bs.modal', function (event) {
      $('#intro iframe').attr('src', $('#intro iframe').attr('src'));
    })
  </script>
{% endblock %}