{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
{% endblock %}

{% block content %}
{# main #}
<div class="w-100" style="background-image: url(/assets/metodologia/FRAME1/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <!-- <img src="/assets/metodologia/FRAME1/03.png" alt="Icono" class="mb-3" width="80px"> -->
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 400px;">6 pasos para evaluar el impacto de tu proyecto</h1>
          <h3 class="text-white">¿Qué tener en cuenta?</h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME2/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <img src="/assets/metodologia/FRAME2/02.png" style="position: absolute;bottom: 80px;width: 100%;bottom: 0;">
    <div class="container h-100" style="position: relative;">
      <img src="/assets/metodologia/FRAME2/03.png" style="position: absolute;bottom: 80px;">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <img src="/assets/metodologia/FRAME2/03.png" alt="Icono" class="mb-3" width="80px">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Crear la teoría de cambio</h1>
          <h3 class="text-white">¿Qué es una teoría de cambio? </h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME3/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <img src="/assets/metodologia/FRAME3/02.png" style="position: absolute;bottom: 80px;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <img src="/assets/metodologia/FRAME3/03.png" alt="Icono" class="mb-3" width="80px">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Identificar e involucrar a los destinatarixs</h1>
          <h3 class="text-white">¿Qué tener en cuenta?</h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME4/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <img src="/assets/metodologia/FRAME4/02.png" style="position: absolute;bottom: 80px;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <img src="/assets/metodologia/FRAME4/03.png" alt="Icono" class="mb-3" width="80px">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Conectar la evidencia con la teoría de cambio</h1>
          <h3 class="text-white">¿Cómo vincular la teoría a la práctica? </h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME5/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <img src="/assets/metodologia/FRAME5/02.png" style="position: absolute;bottom: 80px;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <img src="/assets/metodologia/FRAME5/03.png" alt="Icono" class="mb-3" width="80px">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Planificar un cronograma de evaluación</h1>
          <h3 class="text-white">¿Por qué planificar? </h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME6/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <img src="/assets/metodologia/FRAME6/02.png" style="position: absolute;bottom: 80px;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <img src="/assets/metodologia/FRAME6/04.png" alt="Icono" class="mb-3" width="80px">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Recolectar y almacenar la evidencia</h1>
          <h3 class="text-white">¿Con qué herramientas contamos?</h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100" style="background-image: url(/assets/metodologia/FRAME7/01.png);height: 100vh;background-size: cover;background-position-x: center;background-position-y: bottom;position: relative;">
    <img src="/assets/metodologia/FRAME7/02.png" style="position: absolute;bottom: 80px;width: 100%;bottom: 0;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center align-self-center">
          <img src="/assets/metodologia/FRAME7/04.png" alt="Icono" class="mb-3" width="80px">
          <h1 class="text-white font-weight-bold mx-auto" style="max-width: 600px;">Analizar y adaptar el proyecto</h1>
          <h3 class="text-white">¿Cómo lograr impacto?</h3>
          <button class="btn btn-warning rounded-pill px-3">Ver video</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_javascripts %}
{% endblock %}