{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
{% endblock %}

{% block content %}
  {# main #}
  <div class="w-100">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-2 text-center">
          <h2 class="mb-2">
            6 pasos para evaluar el impacto de tu proyecto
          </h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <ul class="text-left h4 font-weight-normal list-unstyled">
            <li>1. Crear la teoría de cambio</li>
            <li>2. Identificar e involucrar a los destinatarixs</li>
            <li>3. Conectar la evidencia</li>
            <li>4. Planificar un cronograma de evaluación</li>
            <li>5. Recolectar y almacenar la evidencia</li>
            <li>6. Analizar y adaptar el proyecto</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_javascripts %}
{% endblock %}